body {
  font-family: 'Merriweather', serif;
  /* background: url('./images/Twelve-background.jpg');  */
  background-color: azure;
}


.logo {
  padding-right: 5px;

}

.lspace {
  padding-left: 24vw;
}

.title {
    color: midnightblue;
    font-family: 'Tangerine', cursive;
    font-size: 48px;
    text-align: center;

}

.top {
  /* background-color: white; */
  background: url('./images/clouds-fog.jpg');
  color: antiquewhite;
  font-family: 'Tangerine', cursive;
  font-size: 26px;
  border-radius: 0;
}

ul {
  list-style-type: none;
}

/* font-family: 'Beau Rivage',
cursive;
 */