body {
  font-family: 'Merriweather', serif;
  background: url('./images/Twelve-background.jpg'); 
  /* background-color: antiquewhite; */
}


.logo {
  padding-right: 5px;

}

.lspace {
  padding-left: 24vw;
}

.top {
  /* background-color: white; */
  background: url('./images/clouds-fog.jpg');
  color: midnightblue;
  font-family: 'Tangerine', cursive;
  font-size: 26px;
  border-radius: 0;
}

/* font-family: 'Beau Rivage',
cursive;
 */